/* 清除默认样式 */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;

}

p {
    font-size: .875rem;
}

body {
    background-color: var(--nav-bar-bg-color);
}

/* 设置变量 */
:root {
    --text-color: #538234;
    --nav-bar-bg-color: #ECF6E7;
    --color: rgb(35, 186, 246);
    --translate: 'TRANSLATE：English';
}

/* 宽度限制 */
.limit-box {
    width: 90vw;
    max-width: 75rem;
    box-sizing: border-box;
}

/* 页面顶部 */
#nav-bar-conrainer {
    width: 100%;
    padding-bottom: .625rem;
    background-color: var(--nav-bar-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    transform-origin: top;
    transition: 200ms ease;
    z-index: 2;
}

#nav-bar-title-translate-conrainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-bar-title {
    display: flex;
    align-items: center;
    transform-origin: top left;
    transition: 200ms ease;
}



#nav-bar-title h2 {
    color: var(--text-color);
}

#nav-bar-title-img {
    width: 7.5rem;
    height: 5rem;
    margin-right: 1.25rem;
}

#nav-bar-translate {
    background-color: #F89406;
    color: white;
    border: none;
    padding: .625rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 0px 10px 1px #6d6d6d;
    position: relative;
}


#translate-language {
    position: absolute;
    top: 110%;
    right: 0;
    width: 100%;
    height: 50vh;
    overflow: scroll;
    background-color: white;
    color: black;
    display: none;
    /* grid-template-columns: repeat(15, 1fr); */
    font-size: .875rem !important;
    z-index: 1;
    border: .0625rem solid #eee;
    box-shadow: 0 .1875rem .625rem .0625rem rgb(173, 173, 173);
}

#nav-bar-translate:focus #translate-language {
    display: grid;
}

#translate-language>li {
    padding: .3125rem .625rem;
}

#translate-language>li:hover {
    background-color: #eee;
}

#translate-language>li.active {
    background-color: var(--text-color);
    color: white;
}

/* 导航栏 */
#nav-bar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    margin-top: .625rem;
}


#nav-bar-box>li {
    margin: 0px .625rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
    padding-top: .625rem;
    padding-bottom: .625rem;
    transition: padding 200ms ease;
    font-size: .75rem;
    cursor: pointer;
}

#nav-bar-box>li.active {
    color: var(--text-color);
}

#nav-bar-box>li>p {
    font-size: .75rem;
    margin: 0px .625rem 0px .3125rem;
}

#nav-bar-box>li.active::after {
    width: 100%;
    background-color: var(--text-color);
}

#nav-bar-box>li:hover>p,
#nav-bar-box>li:hover>i {
    color: var(--text-color);
}

#nav-bar-box>li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    height: .125rem;
    background-color: skyblue;
    transition: width 500ms ease;
    border-radius: .125rem;
}

#nav-bar-box>li:hover:after {
    width: 100%;
}

/* 手机导航栏 */
#nav-bar-menu-btn {
    display: none;

}

#nav-mask {
    background-color: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    display: none;
    transition: 200ms linear;
}

#nav-mask.active {
    display: initial;
}

#menu-one-level {
    background-color: white;
    width: 70vw;
    height: 100vh;
    position: fixed;
    left: -110%;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 3vw;
    box-sizing: border-box;
    overflow: scroll;
    border: 1px solid #eeeeeead;
    transition: 200ms linear;
}

#menu-one-level.active {
    left: 0;
}

#menu-one-level li.active {
    background-color: var(--text-color);
    color: white;
}

#menu-one-level li {
    margin: 1vh 0px;
    padding: 2vw;
    transition: 200ms linear;
}

#menu-one-level>li>div>.fa-caret-down {
    margin-left: 5vw;

}

#menu-one-level>li {
    display: flex;
    flex-direction: column;
}

#menu-one-level>li>div {
    display: flex;
    align-items: center;
}

#menu-one-level>li>div p,
#menu-one-level>li>div i {
    font-size: 14px !important;
}

#menu-one-level>li>div>p {
    margin-left: 2vw;
}

.menu-two-level {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.menu-two-level>li,
.menu-two-level>li>div {
    font-size: 13px !important;
}

.menu-two-level>li {
    margin: 1vh 0px;
}

.menu-two-level>li>div>p {
    font-size: 14px;
}

.menu-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-title-box i {
    margin-left: 5vw;
}

.menu-three-level {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.menu-three-level>li {
    font-size: 12px;
}

/* 联级菜单 */
.more-first {
    display: none;
    background-color: white;
    position: absolute;
    top: 100%;
    border: .0625rem solid #eee;
    transition: 500ms linear;
    border-top: .1875rem solid rgb(173, 173, 173);
    box-shadow: 0 .1875rem .625rem .0625rem rgb(173, 173, 173);
    z-index: 1;
    color: black;
}

#nav-bar-box>li:hover>.more-first {
    display: block;
    animation: moreUp 150ms linear;
}

.more-first li {
    position: relative;
    text-wrap: nowrap;
    padding: .3125rem .625rem;
    font-size: .875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.more-first i {
    margin-left: 1.25rem;
}

@keyframes moreUp {
    0% {
        top: 200%;
        opacity: 0;
    }

    100% {
        top: 100%;
        opacity: 1;
    }
}

.more-first>li:hover {
    color: black;
    background-color: #eee;
}

.more-second {
    left: 100%;
    top: 0;
}

@keyframes moreSecondUp {
    0% {
        top: 200%;
        opacity: 0;
    }

    100% {
        top: 0%;
        opacity: 1;
    }
}

.more-first>li:hover>.more-second {
    display: block;
    animation: moreSecondUp 300ms linear;
}

/* 登录按钮样式 */
#nav-login-btn {
    height: auto !important;
    border: .125rem solid var(--text-color);
    padding: .625rem .625rem;
    border-radius: .3125rem;
    color: var(--text-color);
    font-weight: bold;
    box-sizing: border-box;
}

#nav-login-btn p {
    margin-right: 0px !important;
}

/* 设置滚动动画 */
.nav-bar-animation-li {
    padding-left: .625rem;
    padding-right: .625rem;
}

#nav-bar-conrainer.nav-bar-conrainer-animation {
    transform: scaleY(0.9);
    box-shadow: 0px 0px 10px 1px #eee;
}

.nav-bar-title-animation {
    transform: scale(0.7);

}

/* 页面底部 */
#footer-translate {
    background-color: #1E1E1E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25rem;
}

#footer-translate .limit-box {
    display: flex;
    align-items: center;
}

#line-box {
    display: inline-block;
    padding: 0px 2.5rem;
    position: relative;
    width: 100%;
    height: .0625rem;
    background-color: white;
}

#line-box::after {
    content: var(--translate);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #1E1E1E;
    padding: 0px 1.25rem;
}

#footer-note-container {
    background-color: #7F9F7C;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#footer-note {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 背景标题组件 */
#BgTitle {
    width: 100%;
    height: 9.375rem;
    background-image: url('../res/IMG_20250924_201020.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#BgTitle h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    width: 100%;
    text-align: center;
}

#BgTitle::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page-main-other {
    background-color: var(--nav-bar-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-main-other>.limit-box {
    background-color: white;
    padding: 3.125rem;
}

.page-main-other>.limit-box p,
li {
    margin: .625rem 0px;
    font-size: .75rem;
}

.page-main-other>.limit-box li {
    list-style: initial;
    margin-left: 3.125rem;
}

.page-main-other .blue-a {
    color: rgb(35, 186, 246);
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #nav-bar-translate {
        font-size: .75rem;
        padding: .3125rem;
    }

    #translate-language {
        box-sizing: border-box;
    }

    #translate-language>li {
        padding: .3125rem;
        font-size: .625rem !important;
    }

    #nav-bar-title-text p {
        display: none;
    }

    #nav-bar-title-img {
        width: 20vw;
        margin-right: .3125rem;
        height: auto;
    }

    #BgTitle {
        height: 20vh;
    }

    #BgTitle h1 {
        font-size: .875rem;
    }

    #nav-bar-box {
        display: none;
    }

    #nav-bar-menu-btn {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    #menu-one-level {
        display: flex;
    }
}